<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("English", "Index", "Language", new { languge = "en" }, null)</li>
    <li>@Html.ActionLink("Spanish", "Index", "Language", new { languge = "es" }, null)<)</li>
    <li>@Html.ActionLink("French", "Index", "Language", new { languge = "fr" }, null)<)</li>
    <li>@Html.ActionLink("Arabic", "Index", "Language", new { languge = "ar" }, null)<)</li>
</ul>
